// Font Family
// $main-font: 'gordita';
// var(--eb_garamond-font): 'EB Garamond', serif;

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #000;
$heading: #254035;
$light-bg: #EFF6F3;
$color-one: #40243b;
$color-two: #efd0f1;
$color-three: #af519f;
$color-four:#500038;
$color-five: #793179;
